.search {
	border-radius: 10px;
	padding: 15px;
	width: 100%;
	background-color: #f6eae8;
	align-items: center;
	display: flex;
}
.searchImg {
	width: 15px;
	height: 15px;
}
.searchInput {
	flex: 1;
	margin-left: 10px;
	font-size: 22px;
	color: black;
	background: transparent;
	border: none;
	outline: none;
	align-items: center;
}
.searchInput::placeholder {
	color: #b0837a;
}
