.card {
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.cardImg {
	background-position: center;
	background-size: cover;
	border-radius: 15px;
	width: 100%;
	height: 150px;
}
.cardTitle {
	font-family: 'Noto Sans Symbols', sans-serif;
	font-size: 18px;
	margin: 0;
	line-height: 30px;
}
.cardRating {
	font-family: 'Noto Sans Symbols', sans-serif;
	font-size: 16px;
	color: #b0837a;
	font-weight: 500;
	margin: 0;
	line-height: 15px;
	margin-bottom: 5px;
}
.starCont {
	display: flex;
	width: 85px;
	justify-content: space-between;
}
