.mainWrapper {
}
.header {
	display: flex;
	justify-content: space-between;
	padding: 10px 40px 10px 40px;
	align-items: center;
	border-bottom: 1px solid #eae2dc;
}
.logoCont {
	display: flex;
	align-items: center;
}
.logo {
	width: 15px;
	height: 15px;
}
.logoHeader {
	font-size: 20px;
	color: black;
	margin: 0 0 0 10px;
	font-family: 'Noto Sans Symbols', sans-serif;
}
.mainCont {
	width: 60%;
	margin: auto;
	margin-top: 30px;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footerTextCont {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 200px;
}
.footerText {
	font-family: 'Noto Sans Symbols', sans-serif;
	font-size: 18px;
	color: #b0837a;
}
